nav {
  background-color: goldenrod;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

li,
div p {
  width: 120px;
  background-color: rgb(205, 148, 3);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div p {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}
